.app {
  min-width: 124rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  & > * {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__field {
    background-color: black;
    width: 95%;
    max-width: 60rem;

    padding: 2px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2px;
  }

  &__fieldAI {
    background-color: black;
    width: 95%;
    max-width: 60rem;

    padding: 2px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2px;
  }

  &__cell {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &--hit {
      background-color: red;
      color: transparent;
    }

    &--miss {
      background-color: palevioletred;
      color: transparent;
    }

    &--ship {
      background-color: royalblue;
      color: transparent;
    }
  }

  &__cellAI {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: transparent;

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &--hit {
      background-color: red;
      color: transparent;
    }

    &--miss {
      background-color: palevioletred;
      color: transparent;
    }

    &--ship {
      background-color: royalblue;
      color: transparent;
    }
  }
}

.end {
  position: absolute;
  width: 100% !important;
  height: 100vh;
  background-color: darkgrey !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3.5rem;
  font-weight: 900;

  &__replay {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-weight: 900;
  }
}
